table,
tr,
th,
td,
caption {
    border: 2px solid gray;
    border-collapse: collapse;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
}

table {
    width: 80%;
}

.buttons{
    float: right;
}
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 190, 0, 0.559);
    padding: 0px;
    opacity: 1;
    height: 60px;
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
    border-bottom: #000000 solid 3px;
}
