body,html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    margin-top:7%;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: #333333;
    padding: 0px;
    height: 60px;
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
}
.head a{
    color: whitesmoke;
}

.head a:nth-child(4){
    color: #4CAF50;
}

.head a:hover{
    color: #4CAF50;
}

#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
    padding: 20px;
    border: whitesmoke solid 2px;
    border-radius: 10%;

}

.card {
    color: whitesmoke;
    width: min(100%, 245px);
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 1rem;
}

.card img {
    border: 5px double #333;
    border-radius: 20%;
    width: 160px;
    grid-row: 1;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    grid-row: 2;
}

.card p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}