.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 190, 0, 0.559);
    padding: 0px;
    opacity: 1;
    height: 60px;
    font-size: 25px;
    font-family: 'Yellowtail';
    font-weight: bold;
    border-bottom: #000000 solid 3px;
    margin-bottom: 3%;
}

.head a:hover{
    color: yellow;
    font-size: 25px;
}


#map_pos{
    float: right;
    margin-right: 2%;
    min-width: auto;
    min-height: auto;

}

#map{
    width: 1250px;
    height: 700px;
    border: #000000 solid 3px;
}


#info{
    border: #000000 solid 3px;
    margin-left:2%;
    float:left;
    background-color: #27ae60;
    min-height: auto;
    width: 550px;
    opacity: 0.9;
    border-radius: 30px;
}
#info > h2{
    margin-top: 10px;
    margin-left:20px;
    text-wrap: normal;
    margin-right:20px;
    font-family: 'Arial', sans-serif;
}

#info > h2:nth-child(3), #info > h2:nth-child(4) {
    display: inline-block;
    margin-right: 20px;
}

#info >h2:last-child{
    margin-bottom: 30px;
}

#reviews{
    border: #000000 solid 3px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    float:left;
    clear: left;
    background-color: #27ae60;
    min-height: auto;
    min-width: auto;
    opacity: 0.9;
    border-radius: 30px;
}

#reviews h2{
    margin-top: 10px;
    margin-left: 20px;
    text-wrap: normal;
    margin-right:20px;
    font-family: 'Arial', sans-serif;
}

#reviews li h2:nth-child(-n+2){
    font-weight: bold;
    display: inline ;
}

#reviews li h2:nth-child(3){
    display: block;
}

#button button{
    float: left;
    clear: left;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: bold;
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: #4CAF50;
    min-width: auto;
    margin-right: 2%;
    border-radius: 30px;
}

#button button:hover{
    color: yellow;
    border: yellow solid 2px;
    cursor: pointer;

}

.Main-Comment{
    background-color: #4CAF50;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s;
    border-radius: 30%;
    border: black solid 3px;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}

.Main-Comment #Coment-elements{
    margin-left: 3%;
    margin-top: 20px;
    color: #000000;
    text-align: center;
    justify-items: center;

}
