body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Yellowtail', cursive;

}
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: #333333;
    padding: 0px;
    height: 60px;
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
}
.head a{
    color: whitesmoke;
}

.head a:nth-child(1){
    color: #4CAF50;
}

.head a:hover{
    color: #4CAF50;
}
.Body {
    width: 800px;
    height: 869px;
    background-color: #333333;
    opacity: 0.9;
    float: left;
    font-family: 'Yellowtail', cursive;
    border-right: whitesmoke solid 2px;

}

.Body img{

    margin-left: 20%;
    margin-top: 5% ;
}

#paragraph{
    font-size: 25px;
    text-align: center;
}