body {
    background: url('img/output_2426154265_0.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: #333333;
    padding: 0px;
    height: 60px;
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
    border-bottom: #000000 solid 3px;
}

.head a {
    color: whitesmoke;
    text-decoration: none;
}

.head a:hover {
    color: #4CAF50;
}

.Language {
    background-color: darkgreen;
    position: relative;
    top: 0;
    right: -5%;
    padding: 10px;
    font-family: 'Yellowtail', cursive;
    border-radius: 50%;
    border: whitesmoke solid 1px;
}

.Language a {
    color: white;
}

.Language a:active {
    color: white;
}

.Body {
    float: left;
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    background-color: #333333;
    opacity: 0.9;
    font-family: 'Yellowtail', cursive;
    border-right: whitesmoke solid 2px;
    box-sizing: border-box;
}

.Body img {
    display: block;
    margin: 5% auto;
    max-width: 100%;
    height: auto;
}

#paragraph {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    color: white;
}

.size {
    float: left;
    margin-left: 10%;
}


