<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/AboutUs.css">
</head>
<body>
    
<div class="head">
    <a href="Home">Home</a>
    <a href="Wineries">Wineries</a>
    <a href="Map">Map</a>
    <a href="About">About Us</a>
</div>

<main>
<div id="profile1" class="card">
    <figure>
      <img
        src="img/1.1.jpg"
        alt="Joe Coder"
        width="140"
        height="215"
      />
    </figure>
      <figcaption>Дејви Величковски</figcaption>
    <p><q>I code stuff.</q></p>
</div>
<div class="card">
    <figure>
      <img
        src="img/1.jpg"
        alt="Joe Coder"
        width="140"
        height="215"
      />
    </figure>
      <figcaption>Драган Велинов</figcaption>
    <p><q>I code stuff.</q></p>
</div>
<div class="card">
    <figure>
      <img
        src="img/1.jpg"
        alt="Joe Coder"
        width="140"
        height="215"
      />
    </figure>
      <figcaption>Мартина Климоска</figcaption>
    <p><q>I code stuff.</q></p>
</div>
<div class="card">
    <figure>
      <img
        src="img/1.jpg"
        alt="Joe Coder"
        width="140"
        height="215"
      />
    </figure>
      <figcaption>Синиша Бошковски</figcaption>
    <p><q>I code stuff.</q></p>
</div>
<div class="card">
    <figure>
      <img
        src="img/Slikajovan.jpg"
        alt="Joe Coder"
        width="140"
        height="215"
      />
    </figure>
      <figcaption>Јован Алексовски</figcaption>
    <p><q>I code stuff.</q></p>
</div>
</main>
</body>
