<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/comments.css">
    <title>Document</title>
</head>

<body>

<div class="head">
    <a href="Home" th:text="#{link_home}"></a>
    <a href="Wineries" th:text="#{link_wineries}"></a>
    <a href="Map" th:text="#{link_map}"></a>
    <a href="About" th:text="#{link_about}"></a>
</div>

<div class="Language" >
    <a href="?lang=mk" th:text="MK"></a>
    <a href="?lang=en" th:text="EN"></a>
</div>

<form class="Extra" action="/reviews/add" method="post">
    <div class="Main-Comment" id="forum">

        <input name="wineryid" th:value="${wineryId}" hidden>
        <div class="Comment">
            <label for="Name" th:text="#{comment.name}"></label> <br>
            <input type="text" name="name" id="Name" placeholder="Dace">
        </div>
        <div class="Comment">
            <label for="Surname" th:text="#{comment.surname}"></label> <br>
            <input type="text" name="surname" id="Surname"  placeholder="Velinov">
        </div>

        <div class="Comment">
            <label for="Comment" th:text="#{comment.comment_text}"></label> <br>
            <input type="text" id="comment1" name="comment" placeholder="Kazi be">
        </div>

        <div class="Comment">
            <input type="number" name="rating" th:id="rating" th:text="#{details_rating}" />
            <label th:for="${rating}" th:text="#{details_rating}"></label>
        </div>
        <div class="Comment">
            <input type="submit" name="Submit" id="Submit">

            <input type="reset" name="Reset" id="Reset">
        </div>
    </div>
</form>

<div class="Comment" id="button">
    <a th:href="@{your_link_here}" target="_blank">
        <button type="button"th:text="#{click_me}"></button>
    </a>
</div>

<div class="Comment" id="comment">
    <label for="Name" th:text="#{comment.name}"></label>
    <label for="Surname" th:text="#{comment.surname}"></label> <br>
    <p th:text="#{comment.comment_text}"></p>
</div>
</body>

</html>