<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/Details.css">


</head>
<body>
<div class="head">
    <a th:href="@{/Home}">Home</a>
    <a th:href="@{/Wineries}">Wineries</a>
    <a th:href="@{/Map}">Map</a>
    <a th:href="@{/AboutUs}">About Us</a>
</div>
<div id="info">
<h2>Name:<br> <span th:text="${winery.name}"></span></h2>
<h2>Address: <br> <span th:text="${winery.address}"></span></h2>
<h2>Rating: <br> <span th:text="${winery.rating}"></span></h2>
<h2>Number of Ratings: <br> <span th:text="${winery.numRatings}"></span></h2>
<h2>Contact number: <br> <span th:text="${winery.phoneNum}"></span></h2>
<h2>Opening Hours: <br> <span th:utext="${winery.openingHours}"></span></h2>
<h2>Website: <br> <a th:href="${winery.webSite}" target="_blank"  th:text="${winery.webSite}"></a></h2>
</div>


<div id="reviews">
    <h2>Reviews:</h2>
    <ul th:if="${winery.reviews != null and not #lists.isEmpty(winery.reviews)}">
        <li th:each="review : ${winery.reviews}">
            <h2>Author: <span th:text="${review.authorName}"></span></h2>
            <h2>Rating: <span th:text="${review.rating}"></span></h2>
            <h2><span th:text="${review.text}"></span></h2>
        </li>
    </ul>
    <h2 th:unless="${winery.reviews != null and not #lists.isEmpty(winery.reviews)}">No reviews</h2>
</div>


<div id="map_pos">
    <iframe width="1050" height="700" id="map"
            th:src="@{'https://maps.google.com/maps?q=' + ${winery.location} + '&amp;width=100%25&amp;height=600&amp;hl=en&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}">
    </iframe>
</div>


</body>
</html>