<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/Index.css">
</head>
<div class="head">
    <div class="head">
        <a href="Home">Home</a>
        <a href="Wineries">Wineries</a>
        <a href="Map">Map</a>
        <a href="About">About Us</a>
    </div>

</div>
<body>
    <div class="Body">
        <img src="img/Logo_MConverter_1.webp" alt="The picture could not be loaded">
        <p id="paragraph">Explore the diverse landscape of Macedonian wine culture, where ancient vineyards meet modern craftsmanship, creating a symphony of flavors unique to our region.</p>
    </div>
</body>
</html>