<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png">
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/Index.css">
</head>
<div class="head">
<!--    <div class="head">-->
        <a href="Home" th:text="#{link_home}"></a>
        <a href="Wineries" th:text="#{link_wineries}"></a>
        <a href="Map" th:text="#{link_map}"></a>
        <a href="About" th:text="#{link_about}"></a>
<!--    </div>-->

    <div class="Language" >
        <a href="?lang=mk" th:text="MK"></a>
        <a href="?lang=en" th:text="EN"></a>
    </div>
</div>



<body>
    <div class="Body">
        <img src="img/Logo_MConverter_1.webp" alt="The picture could not be loaded">
        <p id="paragraph" th:text="#{home_p}"></p>
    </div>
</body>
</html>